* {
    padding: 0;
    margin: 0;
}

#board table {
    border-collapse: collapse;
}

#board .square {
    width: 30px;
    height: 33px;
    border: 1px solid grey;
    line-height: 30px;
    text-align: center;
    font-size: 26px;
}

#board .white {
    background: #aaa;
}

#board .black {
    background: #888;
}

#board .w {
    color: #fff;
}

#board .b {
    color: #000;
}

/* #board .square::before { */
/*     content: ' '; */
/* } */

#board .w.pawn::before {
    content: '♙';
}

#board .w.rook::before {
    content: '♖';
}

#board .w.knight::before {
    content: '♘';
}

#board .w.bishop::before {
    content: '♗';
}

#board .w.queen::before {
    content: '♕';
}

#board .w.king::before {
    content: '♔';
}

#board .b.pawn::before {
    content: '♟';
}

#board .b.rook::before {
    content: '♜';
}

#board .b.knight::before {
    content: '♞';
}

#board .b.bishop::before {
    content: '♝';
}

#board .b.queen::before {
    content: '♛';
}

#board .b.king::before {
    content: '♚';
}

#board .caption {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
